.button {
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: all 0.2s ease;
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1 / 1;
}

.button:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  transform: scale(1.05);
}
